:root {
    --cell: 10px;
    --color: #000;
}

body {
    margin: var(--cell);
}

.qr {
    display: flex;
    width: calc(var(--cell) * 7 * 3);
    height: calc(var(--cell) * 7 * 3);
    flex-wrap: wrap;
}

.qr__cell {
    display: flex;
    width: calc(var(--cell) * 7);
    height: calc(var(--cell) * 7);
    flex-wrap: wrap;
}

.qr__cell--small {
    width: var(--cell);
    height: var(--cell);
}